<html ng-app="listaTelefonica" >
<head>
	<meta charset="UTF-8">
	<title>Lista de Contatos</title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/uiAlert.css">

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	

	<script src="js/appAngular.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>

	<script src="js/factory/contatosAPIFactory.js"></script>
	<script src="constantes/config.js"></script>
	
	<script src="js/provider/geradorSerialProvider.js"></script>
	<script src="js/config/geradorSerialProviderConfig.js"></script>

	<script src="js/directive/uiAlertDirective.js"></script>
	<script src="js/directive/uiDateDirective.js"></script>
	<script src="js/directive/UiAccordion.js"></script>


	<script src="filters/testeFilter.js"></script>
	<script src="filters/cortarString.js"></script>
	

	<!--<script src="lib/bootstrap/bootstrap.js"></script>
	<script src="lib/jquery/jquery-2.1.4.js"></script> -->

	<script type="text/javascript">
		
		

	</script>


</head>
<body ng-controller="listaTelefonicaCtrl">

	<div class="jumbotron col-md-6">
		<h4 class="text-center" ng-bind="titulo"/>
	</div>

	<div class="row"></div>

	<div class="col-md-6">
		<input type="text" class="form-control" placeholder="Pesquisar..." ng-model="filtroPesquisa">
	</div>	

	<div class="row"></div>

	<div ui-alert title="Ops! Aconteceu um problema. :[" >
		ERRO-PERSONALIZADO : {{error}}
	</div>
	
	<div ui-acoordion>
	</div>	


	<div class="col-md-6 text-center" ng-if="contatos.length > 0">
		<table class="table table-striped">
			<tr >
				<th> </th>
				<th><a ng-click="ordenarPor('nome')"> Nome </a></th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th>Data Inclusão</th>
			</tr>	
			<tr ng-class="{selecionado : contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:filtroPesquisa} | orderBy:parametroOrdem:ordenacao">
				<td> <input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome | teste | cortarString:3}}</td>
				<td>{{contato.telefone | cortarString:3}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'EEEE dd/MM/yyyy HH:mm'}}</td>
			</tr>
		</table>	
	</div>

	<form name="contatoForm">

		<div class="row"></div>

		<div class="col-md-6 form-input">
			<label class="form-label">Nome</label>
			<input type="text" class="form-control" ng-model="contato.nome" name="nome" ng-required="true"/>
			<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
				Nome é Obrigatorio!
			</div>
		</div>

		<div class="row"></div>
		<div class="col-md-6 form-input">
			<label class="form-label">Telefone</label>
			<input type="text" class="form-control" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			
			<div ng-messages="contatoForm.telefone.$error" >
				<div ng-show="ontatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
					Telefone é Obrigatorio!
				</div>
				<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
					O telefone deve ter o padrão 9999-9999.
				</div>
			</div>
			
		</div>	

		<div class="row"></div>
		<div class="col-md-6 form-input">
			<label class="form-label">Operadora</label>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ' + (operadora.preco | currency) group by operadora.categoria for operadora in operadoras | orderBy:'nome' ">
				<option value="">Selecione Uma Operadora</option>
			</select>
		</div>

		<div class="row"></div>
		<div class="col-md-6 form-input">
			<label class="form-label">Data</label>
			<input type="text" ng-model="contato.data" class="form-control" name="data" ui-date/>
 			
		</div>

		<div class="row"></div>
		<div class="col-md-3">
			<input type="button" 
				   class="btn btn-primary btn-block" 
				   value="Adicionar Contato" 
				   ng-click="adicionarContato(contato)" 
				   ng-disabled="contatoForm.$invalid"/> 
		</div>
		<div class="col-md-3">
			<input type="button" 
				   class="btn btn-danger btn-block" 
				   value="Remover Contato"
				   ng-click="removerContatos(contatos)" 
				   ng-hide="isContatoSelecionado(contatos)" /> 
		</div>

	</form>
	<!-- <div ng-include="'footer.html'"></div> -->

	<div class="row"></div>
	<div class="jumbotron col-md-6"> 
		<div class="text-center">
			Power by Fernando Dias
		</div>
	</div>
		


</body>
</html>